@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Recruiter Pathway</h1>
    </div>
<div>
    <h5>
        We here at Recruiter Pathway wish to create a platform for Recruiters to target and track students canidates.
    </h5>
    <h2> Features: </h2>
    <ul>
        <li>
        Massive List of Students interacted with by Recruiters on our platform
        </li>
        <li>
            Capabilities to filter the students by Major or Graduation Date
        </li>
        <li>
            A flexible Recruiter profile that can be given out for students to keep up to date with Recruiter's contact information
        </li>
    </ul>
</div>
