@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Recruiter Pathway</h1>
    </div>
<div>
    <h5>
        We here at Recruiter Pathway wish to create a platform for Recruiters to target and track students canidates.
    </h5>
    <h2> Features: </h2>
    <ul>
        <li>
            Massive List of Students interacted with by Recruiters on our platform
        </li>
        <li>
            Capabilities to filter the students by Name, Degree, and/or Graduation Date
        </li>
        <li>
            The student list can also be sorted by Name, Degree, and/or Graduation Date as well
        </li>
        <li>
            Recruiters can publicly leave comments on students which will be attributed to them.
        </li>
        <li>
            Privately, recruiters can mark a student's status in their interview process as well as add a student to their watchlist.
        </li>
    </ul>
</div>
