@model RecruiterPathway.Models.RecruiterViewModel

@{
    ViewData["Title"] = "Register";
}

<h1>Register a new Account</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        @if (ViewData["error-message"] is string value)
        {
            <div class="error">
                @value
            </div>
        }
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Recruiter.Name" class="control-label"></label>
                <input asp-for="Recruiter.Name" class="form-control" />
                <span asp-validation-for="Recruiter.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Recruiter.CompanyName" class="control-label"></label>
                <input asp-for="Recruiter.CompanyName" class="form-control" />
                <span asp-validation-for="Recruiter.CompanyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Recruiter.UserName" class="control-label"></label>
                <input asp-for="Recruiter.UserName" class="form-control" />
                <span asp-validation-for="Recruiter.UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Recruiter.PhoneNumber" class="control-label"></label>
                <input asp-for="Recruiter.PhoneNumber" class="form-control" />
                <span asp-validation-for="Recruiter.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Password</label>
                <input asp-for="Recruiter.PasswordHash" class="form-control" type=password />
                <span asp-validation-for="Recruiter.PasswordHash" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="List">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
