@model IEnumerable<TeamProject.Models.Recruiter>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div>
    <b>Welcome to the Recruiter's Hub</b>
    <div>
        <a asp-action="Login">Login to an existing account</a>
    </div>
    <div>
        <a asp-action="Create">Register a new account</a>
    </div>
</div>
