<!--
@model IEnumerable<TeamProject.Models.Recruiter>

@{
    ViewData["Title"] = "Login";
}
    -->

<h1>Login Page</h1>

<div>
    <div>
        Username:
    </div>
    <div>
        Password:
    </div>
</div>

