@model RecruiterPathway.ViewModels.StudentViewModel
@{
    ViewData["Title"] = "Add Comment";
}

<h1>Add Comment</h1>
<h3>@Html.DisplayFor(model => model.Student.firstName) @Html.DisplayFor(model => model.Student.lastName)</h3>
<form asp-controller="Students" asp-action="AddPipelineStatus">
    <p>
        <select asp-for="PipelineStatus" asp-items="Model.Statuses">
            <option name="newStatus">New Status</option>
        </select>
        <br />
        <label>New Pipeline Status:</label> <input type="text" asp-for="NewPipelineStatus" />
        <br />
        <input type="submit" value="Add Pipeline Status" />
    </p>
</form>