@model RecruiterPathway.ViewModels.StudentViewModel
@{
    ViewData["Title"] = "Add To Watchlist";
}

<h1>Add To Watchlist</h1>
<h3>@Html.DisplayFor(model => model.Student.FirstName) @Html.DisplayFor(model => model.Student.LastName)</h3>
<form asp-controller="Students" asp-action="AddToWatchList">
    <p>
        <input type="submit" value="Add Student to Watchlist" />
    </p>
</form>